extends layout

block content
  h1= title
  h3 Register Movie
  h5 Please enter the movie information to add a review.
  form(action='/result' method='post')
    p
      input(type="text" name="title")
    p
      input(type="text" name="cast")
    p
      input(type="text" name="genre")
    p
      input(type="text" name="url")
    p
      ='Movie Ratings'
    span
      span='0'
      input(type='radio' name='score' value='0')
    span
      span='1'
      input(type="radio" name="score" value="1")
    span
      span='2'
      input(type="radio" name="score" value="2")
    span
      span='3'
      input(type="radio" name="score" value="3")
    span
      span='4'
      input(type="radio" name="score" value="4")
    span
      span='5'
      input(type="radio" name="score" value="5")
    p
      input(type="submit" value="Submit")